<footer class="fixed-bottom footer-content">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid footer-content_opciones">
      <div class="footer-content_fluid">
        <div class="footer-content_collapse">
          <div class="navbar-brand">
            <a href="#">
              <span class="material-symbols-outlined">settings</span>
            </a>
            <a routerLink="/app/suc">
              <span class="material-symbols-outlined">store</span>
              <small>Tienda</small>
            </a>
          </div>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-symbols-outlined">menu</span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <div class="navbar-start">
              <div class="navbar-start_hover">
                <a routerLink="/app/pos">
                  <span class="material-symbols-outlined">add_circle</span>
                  <small>Capturar</small>
                </a>
              </div>
              <div class="navbar-start_hover">
                <a routerLink="/app/tickets">
                  <span class="material-symbols-outlined">history</span>
                  <small>Tickets</small>
                </a>
              </div>
              <div class="navbar-start_hover">
                <a routerLink="/app/cash-flow">
                  <span class="material-symbols-outlined">payments</span>
                  <small>Corte</small>
                </a>
              </div>
            </div>
            <div class="navbar-end">
              <div class="navbar-end_content">
                <div class="sucursal-content">
                  <div class="sucursal-content_nombre">
                    <b>OXIGENO</b>
                  </div>
                  <div class="sucursal-content_caja">
                    <b>#2</b>
                  </div>
                </div>
                <div class="user-content">
                  <div class="user-content_nombre">
                    <b>LEADERSYS</b>
                  </div>
                  <div class="user-content_sesion">
                    <button>Cerrar sesi&Oacute;n</button>
                  </div>
                </div>
              </div>
              <div class="version-content">
                <span>Ver. 1.0.0</span>
                <span>MoyoCR PoS Light</span>
                <img src="../../../../assets/img/leadersys.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</footer>
