<div class="articulos-container">
  <div class="opc-calendario_corte">
    <div class="calendario-corte">
      <h5>CORTE DE CAJA OXIGENO</h5>
      <h5>CAJA #2</h5>
      <input type="date" class="form-control_input">
    </div>
    <div class="imprimir">
      <button class="btn is-btn-success">
        <span class="material-symbols-outlined">print</span>
        IMPRIMIR
      </button>
    </div>
  </div>
</div>


<section class="page-container">
  <div class="page page-80mm">
    <div class="ticket">
      <div class="ticket-header">
        <div class="tienda">MOYO</div>
        <div class="razon_social">HEALTHY SNACKS S.A.</div>
        <div class="rfc">CED. JURÍDICA: 3-101-617105</div>
        <div class="tienda">OXIGENO</div>
      </div>
      <table class="fec">
        <tr>
          <td><b><u>Corte de Caja del:</u> 25/08/2023</b></td>
        </tr>
      </table>
      <table class="fec">
        <tr>
          <td>Impresión: 25-ago.-2023</td>
          <td>12:08:44</td>
        </tr>
      </table>
      <table class="vde" style="border-bottom: 1px dotted black;">
        <tr style="font-weight: bold;">
          <td style="width: 60%;">FORMA DE PAGO</td>
          <td style="width: 30%; text-align: right;">IMPORTE</td>
        </tr>
      </table>
      <table class="letras">
        <tr style="text-align: right;">
          <td colspan="2" class="total" style="padding: 2px 0px 2px 4px;">
            Total en Caja:
          </td>
          <td class="total" style="padding: 2px 0px; font-weight: bold;">
            ₡0.00
          </td>
        </tr>
        <tr style="border-bottom: 1px dotted black;">
          <td style="width: 30%; padding-top: 10px;"><b>Descuentos:</b></td>
          <td style="width: 70%; font-size: 12px; padding-top: 10px;">
            ₡0.00
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>

