<div class="sync-container">
  <section class="sync-content_section">
    <div class="container sync-content_card">
      <div class="card text-center">
        <div class="card-header">
          <h1>SINCRONIZACION</h1>
        </div>
        <div class="card-body p-4">
          <div class="card-body_datos_sincronizados">
            <p class="card-text">Los datos est&aacute;n sincronizados.</p>
          </div>
          <div class="card-body_obtener_datos">
            <p class="card-text">Espera un momento, estamos obteniendo los datos m&aacute;s recientes</p>
            <div class="progress-container">
              <div class="progress-bar"></div>
            </div>
          </div>
          <button class="btn">
            CONTINUAR
            <span class="material-symbols-outlined">
              arrow_forward_ios
            </span>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>





