<div class="suc-content">

  <div class="card card-container">
    <div class="card-header card-container_header_titulo">
      TIENDA Y CAJA
    </div>
    <div class="card-body card-container_body">
      <div class="container-fluid card-container_sucursales">
        <div class="row">
          <div class="col-md-8 card-body_sucursales">
            <div class="row row-cols-1 g-4 pb-3">
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8 card-body_titulo">
                        <h5>SAN PEDRO CAJA #2</h5>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn_seleccionar button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                          <div class="col-12 button-center">
                            <button class="btn btn_liberar button-content_center">
                              <span class="material-symbols-outlined">close</span>
                              LIBERAR
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn btn-primary button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-content">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        SAN PEDRO CAJA #2
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="row">
                          <div class="col-12 button-center">
                            <button class="btn  button-content_center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              SELECCIONAR
                              <span class="material-symbols-outlined">chevron_right</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-content">
              <div class="card-body config-actual text-center">
                <div class="config-actual_titulo">
                  <span class="material-symbols-outlined">check_circle</span>
                  <h5><b>CONFIGURACI&Oacute;N ACTUAL</b></h5>
                </div>
                <h5><b>SUC SELECCIONADA</b></h5>
                <div class="table-responsive">
                  <table class="table table-md text-center">
                    <thead>
                      <tr>
                        <th scope="col">Folio Sig. Ticket</th>
                        <th scope="col">Folio Sig. TDV</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><b>9438</b></td>
                        <td><b>9478</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button class="btn btn_seleccionar button-content_center">
                  CONTINUAR
                  <span class="material-symbols-outlined">chevron_right</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!--MODAL-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p class="pin-titulo">
          Proporcione el <b>PIN</b> de <b>SAN PEDRO, CAJA #2</b> para continuar:
        </p>

        <input type="number" maxlength="4" class="form-control pin-input" placeholder="Escriba aqui...">

      </div>
      <div class="modal-footer pin-footer">
        <button type="button" class="btn btn_secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn_primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

